*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  header {
    margin-bottom: 31px;
  }
  header .logo {
    width: 112px;
    height: 18px;
    margin-top: 31px;
    margin-left: 24px;
  }
  header nav {
    display: none;
  }
  main .hero picture {
    width: 100%;
  }
  main .hero .text {
    padding: 93px 24px;
    background: #2d2641;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-pattern-intro-left-mobile.svg), url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 140px;
  }
  main .hero .text h1 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.666667px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .hero .text p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  main .hero .text a {
    height: 40px;
    width: 146px;
    margin: 0 auto;
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .we-are-different {
    margin-bottom: 140px;
  }
  main .we-are-different h2 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.666667px;
    color: #2c2830;
    margin-bottom: 80px;
  }
  main .we-are-different .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .we-are-different .flex .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
  }
  main .we-are-different .flex .flex-item .icon {
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
  }
  main .we-are-different .flex .flex-item h4 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.388889px;
    color: #2c2830;
    margin-bottom: 16px;
  }
  main .we-are-different .flex .flex-item p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #837d88;
  }
  main .find {
    background: #2d2641;
    padding: 72px 24px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .find .text h3 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.555556px;
    color: #ffffff;
  }
  main .find button {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    background: transparent;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    width: 160px;
    height: 40px;
    margin-top: 40px;
  }
  footer {
    background: #fafafa;
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .logo-and-social-media .logo {
    margin-bottom: 32px;
  }
  footer .logo-and-social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .logo-and-social-media ul li + li {
    margin-left: 16px;
  }
  footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #dadada;
  }
  footer .container-p-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container-p-and-links .p-and-links {
    margin-bottom: 40px;
  }
  footer .container-p-and-links .p-and-links p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837d88;
    margin-bottom: 36px;
  }
  footer .container-p-and-links .p-and-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container-p-and-links .p-and-links ul li {
    margin-bottom: 16px;
  }
  footer .container-p-and-links .p-and-links ul li a {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2d2641;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body::before {
    content: "";
    position: absolute;
    top: 494px;
    height: 550px;
    width: 198px;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
  }
  body::after {
    content: "";
    position: absolute;
    top: 88px;
    right: 0;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    width: 27.25rem;
    height: 37.0625rem;
  }
  header {
    padding: 19px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo {
    width: 112px;
    height: 18px;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul li + li {
    margin-left: 26px;
  }
  header nav ul li a {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837d88;
  }
  header nav ul .view {
    border: 1.5px solid #2c2830;
    padding: 9px 28px;
    margin-left: 33px;
  }
  header nav ul .view a {
    color: #2c2830;
  }
  main .hero {
    height: 600px;
    background: #2d2641;
    padding-left: 165px;
    padding-bottom: 127px;
    padding-top: 169px;
  }
  main .hero picture {
    position: absolute;
    width: 540px;
    height: 650px;
    left: 735px;
    top: 185px;
  }
  main .hero .text {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  main .hero .text::before {
    content: "";
    position: absolute;
    top: -63px;
    width: 150px;
    height: 1px;
    background: #ffffff;
  }
  main .hero .text h1 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    letter-spacing: -0.666667px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .hero .text p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 32px;
  }
  main .hero .text a {
    height: 40px;
    width: 146px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .we-are-different {
    padding: 23.0625rem 10.3125rem 9.875rem 10.3125rem;
  }
  main .we-are-different h2 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    text-align: left;
    letter-spacing: -1px;
    color: #2c2830;
    margin-bottom: 96px;
    position: relative;
  }
  main .we-are-different h2::before {
    content: "";
    position: absolute;
    top: -50px;
    width: 150px;
    height: 1px;
    background: #c396c6;
  }
  main .we-are-different .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: start;
    justify-content: start;
  }
  main .we-are-different .flex .flex-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .we-are-different .flex .flex-item .icon {
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
  }
  main .we-are-different .flex .flex-item h3 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.388889px;
    color: #2c2830;
    margin-bottom: 16px;
  }
  main .we-are-different .flex .flex-item p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #837d88;
  }
  main .find {
    background: #2d2641;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 69px 80px;
    margin-bottom: 150px;
    margin-left: 165px;
    margin-right: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .find .text {
    max-width: 479px;
  }
  main .find .text h3 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    text-align: left;
    letter-spacing: -0.78px;
    color: #ffffff;
  }
  main .find button {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    background: transparent;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    width: 160px;
    height: 40px;
    margin-top: 40px;
  }
  footer {
    background: #fafafa;
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    padding: 64px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .logo-and-social-media {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  footer .logo-and-social-media .logo {
    width: 111.22px;
    height: 18px;
  }
  footer .logo-and-social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .logo-and-social-media ul li + li {
    margin-left: 16px;
  }
  footer hr {
    width: 100%;
    margin-top: 33px;
    margin-bottom: 48px;
    border-top: 1px solid #dadada;
  }
  footer .container-p-and-links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer .container-p-and-links .p-and-links p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 1.5px;
    color: #837d88;
    margin-bottom: 36px;
  }
  footer .container-p-and-links .p-and-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .container-p-and-links .p-and-links ul li {
    margin-bottom: 16px;
  }
  footer .container-p-and-links .p-and-links ul li a {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2d2641;
  }
}
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */